{
  "branches": [
    "main"
  ],
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "parserOpts": {
          "breakingHeaderPattern": "^(\\w*)(?:\\((.*)\\))?!: (.*)$"
        },
        "releaseRules": [
          {
            "breaking": true,
            "release": "major"
          }
        ]
      }
    ]
  ]
}
